@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400");

html {
  font-size: 100%;
} /*16px*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* varibales */

:root {
  /* primary colors */
  --primary-100: #f1dbe0;
  --primary-200: #e3b7c0;
  --primary-300: #d492a1;
  --primary-400: #c66e81;
  --primary-500: #b84a62;
  --primary-600: #933b4e;
  --primary-700: #6e2c3b;
  --primary-800: #4a1e27;
  --primary-900: #250f14;
  /* Grey colors */
  --grey--100: #f3f4f6;
  --extra-grey-color: #f1f5f8;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;

  --black: #222;
  --white: #fff;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --raduis: 0.5rem;
}

body {
  background: white;
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

.underline {
  border-bottom: var(--primary-500) solid 5px;
  width: 9rem;
}

/* header */

.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/image-1.jpg) center/cover no-repeat;
  background-attachment: fixed;
  display: grid;
  place-items: center;
}
.banner {
}
.banner-info-container {
  display: grid;
  place-items: center;
}
.banner-info-container h1 {
  color: var(--grey-500);
  text-transform: capitalize;
  text-align: center;
}

.banner-info-container p {
  color: var(--primary-400);
  text-align: center;
  max-width: 60rem;
}

.banner-info-container a {
  color: var(--grey-400);
  display: inline-block;
  background-color: var(--primary-500);
  padding: 1rem 1.25rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  cursor: pointer;
  transition: var(--transition);
  box-shadow: -1px 3px rgba(0, 0, 0, 0.2);
  outline: 0.125rem solid var(--primary-500);
  outline-offset: 0.25rem;
}

.banner-info-container a:hover {
  background-color: var(--primary-300);
  color: var(--grey-500);
}

/* email form */

.form-control-container {
  width: 20rem;
  height: 20rem;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  transition: var(--transition);
  background-color: var(--white);
  margin-left: 10rem;
  display: grid;
  place-items: center;
  text-align: center;
}

.form-control-container:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
}

.contact {
  background-color: var(--extra-grey-color);
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conatct-title span {
  color: var(--primary-400);
}

.conatct-title {
  color: var(--grey-400);
}

.example {
  font-size: 1rem;
  text-align: center;
  color: var(--primary-500);
}

.form-control h2 {
  color: var(--primary-500);
  text-transform: capitalize;
  font-size: 2.4rem;
}

.your-email {
  font-size: 1rem;
  padding: 0.2rem;
  border-color: transparent;
  background-color: var(--grey-200);
  border-radius: var(--raduis);
  text-transform: uppercase;
  caret-color: var(--primary-600);
  letter-spacing: var(--spacing);
}

.your-email::placeholder {
  color: var(--primary-300);
}

.receiver-email {
  font-size: 1rem;
  padding: 0.2rem;
  border-color: transparent;
  background-color: var(--grey-200);
  border-radius: var(--raduis);
  text-transform: uppercase;
  caret-color: var(--primary-600);
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: var(--spacing);
}

.receiver-email::placeholder {
  color: var(--primary-300);
}

.message {
  font-size: 1rem;
  border-color: transparent;
  background-color: var(--grey-200);
  text-transform: uppercase;
  border-radius: var(--raduis);
  caret-color: var(--primary-600);
  letter-spacing: var(--spacing);
}

.message::placeholder {
  color: var(--primary-300);
}

.submit-button {
  width: 100%;
  padding: 0.5rem;
  text-transform: capitalize;
  font-size: 1rem;
  background-color: var(--primary-500);
  color: var(--grey-300);
  border-color: transparent;
  border-bottom-left-radius: var(--raduis);
  border-bottom-right-radius: var(--raduis);
  cursor: pointer;
  transition: var(--transition);
}

.submit-button:hover {
  background-color: var(--primary-400);
  color: var(--grey-200);
}
